.vertical {
    margin-top: 2em;
    height: auto;
    width: calc(50% - 4em);
    padding-left: 2em;
    padding-right: 2em;
}

 .editorBox {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     min-width: 100%;
     height: 100%;
     margin-bottom: 1em;
 
     h1 {
         font-size: 2.4rem;
     }
 
     .inputBox {
         position: relative;
         padding: 1em 0 0;
         margin-top: 0.8em;
         width: 16em;
     }
     
     .textInput {
         outline: none;
         font-family: inherit;
         width: 100%;
         border: 0;
         border-bottom: 2px solid var(--fg-color);
         color: var(--fg-color);
         padding: 0.5em 0;
         background: transparent;
         transition: border-color 200ms;
     
         &::placeholder {
             color: transparent;
         }
     
         .label {
             font-size: 1.3rem;
             cursor: text;
             top: 20px;
         }
     }
     
     .label {
         position: absolute;
         top: 0.8em;
         display: block;
         transition: 0.2s;
         font-size: 1rem;
         color: var(--fg-color);
     }
     
     
     .textInput:focus {
       ~ .label {
         position: absolute;
         top: 0;
         display: block;
         transition: 0.2s;
         font-size: 0.9rem;
         color: var(--highlight-color);
         font-weight:700;    
       }
       padding-bottom: 0.3em;  
       font-weight: 700;
       border-width: 0.25em;
       border-color: var(--highlight-color);
       border-image-slice: 1;
     }
 
     .textInput:not(:invalid):not(:focus) {
       ~ .label {
         position: absolute;
         top: 0 !important;
         display: block;
         transition: 0.2s;
         font-size: 0.9rem;
         color: var(--fg-color);
         font-weight:700;    
       }
       padding-bottom: 0.3em !important;
       font-weight: 700;
       border-width: 0.25em;
       border-color: var(--fg-color);
       border-image-slice: 1;
     }
 
     /* reset input */
     .textInput{
       &:required,&:invalid { box-shadow:none; }
     }

     .textBox {
        ~ .label {
            position: absolute;
            top: -0.3em !important;
            display: block;
            transition: 0.2s;
            font-size: 0.9rem;
            color: var(--fg-color);
            font-weight:700;    
        }
         outline: none;
         border-radius: 0.4em;
         font-family: inherit;
         width: 100%;
         border: 1px solid var(--border-color) !important;
         color: var(--fg-color);
         padding: 1em;
         background: transparent;
         transition: border-color 200ms;
     
         &::placeholder {
             color: transparent;
         }
     
         .label {
             font-size: 1.3rem;
             cursor: text;
             top: 20px;
         }
     }

     .textBox:focus {
       ~ .label {
         position: absolute;
         top: -0.3em;
         display: block;
         transition: 0.2s;
         font-size: 0.9rem;
         color: var(--highlight-color);
         font-weight:700;    
       }
       border-color: var(--highlight-color);
     }
 
    .accordion {
      margin: 2.4rem auto;
    }
    
    .accordionTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      background-color: var(--nav-color);
      border-bottom: 1px solid var(--fg-color);
      transition: all 200ms;
    }

    .accordionTitle * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .accordionTitle:hover {
      color: var(--highlight-color);
    }

    .accordionTitle,
    .accordion-content {
      padding: 0.5rem;
    }
    
    .accordionContent {
      background-color: var(--nav-color);
    
     }
}
