.horizontal {
    height: auto;
    width: calc(100% - 4em);
    padding-left: 2em;
    padding-right: 2em;
}

 .editorBox {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     min-width: 100%;
     height: 100%;
 
     h1 {
         font-size: 2.4rem;
     }
 
     .inputBox {
         position: relative;
         padding: 1em 0 0;
         margin-top: 0.8em;
         width: 16em;
     }
     
     .textInput {
         outline: none;
         font-family: inherit;
         width: 100%;
         border: 0;
         border-bottom: 2px solid var(--fg-color);
         color: var(--fg-color);
         padding: 0.5em 0;
         background: transparent;
         transition: border-color 200ms;
     
         &::placeholder {
             color: transparent;
         }
     
         .label {
             font-size: 1.3rem;
             cursor: text;
             top: 20px;
         }
     }
     
     .label {
         position: absolute;
         top: 0.8em;
         display: block;
         transition: 0.2s;
         font-size: 1rem;
         color: var(--fg-color);
     }
     
     
     .textInput:focus {
       ~ .label {
         position: absolute;
         top: 0;
         display: block;
         transition: 0.2s;
         font-size: 0.9rem;
         color: var(--highlight-color);
         font-weight:700;    
       }
       padding-bottom: 0.3em;  
       font-weight: 700;
       border-width: 0.25em;
       border-color: var(--highlight-color);
       border-image-slice: 1;
     }
 
     .textInput:not(:invalid):not(:focus) {
       ~ .label {
         position: absolute;
         top: 0 !important;
         display: block;
         transition: 0.2s;
         font-size: 0.9rem;
         color: var(--fg-color);
         font-weight:700;    
       }
       padding-bottom: 0.3em !important;
       font-weight: 700;
       border-width: 0.25em;
       border-color: var(--fg-color);
       border-image-slice: 1;
     }
 
     /* reset input */
     .textInput{
       &:required,&:invalid { box-shadow:none; }
     }
 }

